<ng-container *ngIf="blogPost; else loading">
  <div class="container">
    <div class="hero">
      <h1 class="post-title">{{ blogPost.fields.title }}</h1>
      <img
        [src]="imageUrl"
        [alt]="blogPost.fields.featuredImage.fields.title"
      />
    </div>
    <div class="post">
      <div class="created-at">
        <p>
          Lisätty: {{ blogPost.sys.createdAt | date: "dd.MM.YYYY HH:mm" }}
          <span
            class="updated-at"
            *ngIf="blogPost.sys.updatedAt > blogPost.sys.createdAt"
            >Päivitetty:
            {{ blogPost.sys.updatedAt | date: "dd.MM.YYYY HH:mm" }}</span
          >
        </p>
      </div>
      <ngx-contentful-rich-text [document]="blogPost.fields.body" class="text">
      </ngx-contentful-rich-text>
      <app-recipe [recipe]="recipe"></app-recipe>
    </div>
    <a class="underline--magical--link" routerLink="/posts">Go back</a>
  </div>
</ng-container>
<ng-template #loading>Loading...</ng-template>

<svg width="0" height="0">
  <defs>
    <clipPath id="myClip" clipPathUnits="objectBoundingBox">
      <path
        d="M 0 0 L 1 0 L 1 0.9 C 1 0.9 0.759 1.054 0.515 0.851 C 0.234 0.626 0 0.9 0 0.9 z"
      />
    </clipPath>
  </defs>
</svg>
