.container {
  max-width: 800px;
  @media screen and (max-width: 600px) {
    padding: 0 1rem 1rem 1rem;
  }
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  app-recipe {
    margin: 2rem 0;
  }
  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    h1 {
      position: absolute;
      bottom: 0;
      z-index: 10;
      @media screen and (max-width: 600px) {
        padding: 1rem;
      }
    }
    img {
      width: 100vw;
      height: 34rem;
      @media screen and (max-width: 600px) {
        height: 25rem;
      }
      object-fit: cover;
      position: relative;
      top: 0;
      mask-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%
      );
      -webkit-mask-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%
      );
    }
  }
  .post {
    margin-top: 4rem;
    @media screen and (max-width: 600px) {
      margin-top: 2rem;
    }
    .created-at {
      font-size: 0.9rem;
      .updated-at {
        font-size: 0.8rem;
        color: #666;
      }
    }
  }
}

.underline--magical--link {
  margin: 2rem 0;
}
