img {
  &.zoomed {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
  }
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  width: 635px;
  height: 345px;
  @media screen and (max-width: 600px) {
    width: 95vw;
    height: calc(95vw * 0.543);
  }
}
