<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12 herotitle">
      <h1 class="mat-display-3 site-title">artunkeitt.io</h1>
      <p class="mat-caption subtitle">stuff about stuff</p>
    </div>
    <div class="mdc-layout-grid__cell--span-12 content">
      <section>
        <h3>
          <a [routerLink]="['/dev']">dev</a>
        </h3>
      </section>
      <section>
        <h3>
          <a [routerLink]="['/food']">food</a>
        </h3>
      </section>
    </div>
  </div>
</div>
